body {
  margin: 0;
  padding: 0;
  background: #fff;
}
.wrapper
{
  transition:all 0.3s;
  -webkit-transition:all 0.3s;
  -moz-transition:all 0.3s;
  -o-transition:all 0.3s;
}
.menubtn
{
  transition:all 0.3s;
  -webkit-transition:all 0.3s;
  -moz-transition:all 0.3s;
  -o-transition:all 0.3s;
  cursor: pointer;
}
.rotz
{
  transform:rotateZ(90deg) !important;
  -webkit-transform:rotateZ(90deg) !important;
  -moz-transform:rotateZ(90deg) !important;
  -o-transform:rotateZ(90deg) !important;
}
.showmenu
{
    transform:translateX(300px);
  -webkit-transform:translateX(300px);
  -moz-transform:translateX(300px);
  -o-transform:translateX(300px);
}
.zindex10
{
  z-index: 10 !important;
}
nav
{
  position: fixed;
  z-index: -10;
  top: 0;
  min-height: 500px;
  min-width: 300px;
}
nav ul
{
  margin-top: 100px;
}
nav ul li
{
  display: block;
  margin: 15px 5px;
}
nav ul li a
{
  color: #000;
  font-family: 'Open Sans';
  font-size: 1.5em;
  margin: 15px 2px;
  text-decoration: none;
}
nav ul li a:hover
{
  color: rgb(16, 150, 123);
}
.nav
{
  position: fixed;
  z-index: 100;
  -webkit-box-shadow: 0px 2px 25px 0px rgba(50, 50, 50, 0.56);
-moz-box-shadow:    0px 2px 25px 0px rgba(50, 50, 50, 0.56);
box-shadow:         0px 2px 25px 0px rgba(50, 50, 50, 0.56);
width: 100%;

background-color: rgba(256,256,256,0.8);
}
.nav ul {
  list-style: none;
  text-align: left;
  padding: 10px 0;
  margin: 0 50px;
}
.nav li {
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
.nav a {
   font-family: 'Open Sans';
  text-decoration: none;
  color: #000;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  color: #005f5f;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
 
.cont
{
  min-height: 723px;
  width: 100%;
  background-color: rgb(242, 242, 242);
}

.alt
{
  background-color: rgb(230,230,230) !important;
}
.slidebox
{
  position: relative;
  width: 100%;
  height: 723px;
}
.slidebox img
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition:all 0.8s;
  -webkit-transition:all 0.8s;
  -moz-transition:all 0.8s;
  -o-transition:all 0.8s;
}

@keyframes prog
{
  0% {width: 0;}
  100% {width: 100%;}
}
@-webkit-keyframes prog
{
  0% {width: 0;}
  100% {width: 100%;}
}
.progress
{
  height: 3px;
  background: rgb(32, 173, 119);
  position: absolute;
  z-index: 200;
  bottom: 0;
  animation-name: prog;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  -webkit-animation-name: prog;
  -webkit-animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
}



@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
 
  /* Options 2 - Float
  .nav li {
    float: left;
  }
  .nav ul {
    overflow: auto;
    width: 600px;
    margin: 0 auto;
  }
  .nav {
    background-color: #444;
  }
  */
}